# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [294]:
data= pd.read_table(filepath_or_buffer= 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv') 
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [27]:
data['order_id'].is_unique

False

### Step 4. See the first 10 entries

In [11]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1

data.shape

(4622, 5)

In [13]:
# Solution 2

len(data)

4622

### Step 6. What is the number of columns in the dataset?

In [15]:
len(data.columns)

5

### Step 7. Print the name of all the columns.

In [16]:
[item for item in data.columns]

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [20]:
data.set_index(['order_id'],inplace= True)

In [168]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [73]:
ordered_item=data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[0:1].index
print(list(ordered_item))

['Chicken Bowl']

In [ ]:
# ordered is a series. So on row indexing is possible

### Step 10. For the most-ordered item, how many items were ordered? Pending

In [76]:
ordered_quantity=data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[0]
print(ordered_quantity)

761

/var/folders/jm/7qcz1nys2_l6rk66dc2f48wc0000gn/T/ipykernel_1790/3459119912.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ordered_quantity=data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[0]

In [267]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 11. What was the most ordered item in the choice_description column?

In [200]:
data[['choice_description']].dropna().explode('choice_description')

                                     choice_description
1                                          [Clementine]
2                                               [Apple]
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...
...                                                 ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

[3376 rows x 1 columns]

In [221]:
data['choice_description']= data['choice_description'].tolist()

In [222]:
data['choice_description'].dtype

dtype('O')

In [227]:
data['choice_description']

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [293]:
# Assuming 'choice_description' is the name of your column
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,"[[, C, l, e, m, e, n, t, i, n, e, ]]",$3.39
2,1,1,Nantucket Nectar,"[[, A, p, p, l, e, ]]",$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[[, T, o, m, a, t, i, l, l, o, -, R, e, d, , ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[[, F, r, e, s, h, , T, o, m, a, t, o, , S, ...",$11.75
4618,1833,1,Steak Burrito,"[[, F, r, e, s, h, , T, o, m, a, t, o, , S, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"[[, F, r, e, s, h, , T, o, m, a, t, o, , S, ...",$11.25
4620,1834,1,Chicken Salad Bowl,"[[, F, r, e, s, h, , T, o, m, a, t, o, , S, ...",$8.75
4621,1834,1,Chicken Salad Bowl,"[[, F, r, e, s, h, , T, o, m, a, t, o, , S, ...",$8.75

In [354]:
frame=data

In [355]:
#not quite correct
# frame[frame['choice_description'].notna()]['choice_description'].apply(lambda x: x.translate(str.maketrans('', '', "[]")).split())

In [356]:
import ast
# data['choice_description'][4].replace('[','').replace(']','').replace(' ','').split(',')

In [368]:
import re

pattern = re.compile('[\[\] ]')
left=data['choice_description'].apply(lambda x: pattern.sub('',x).split(',') if isinstance(x,str) else x ).explode()
right= data['item_price']

In [370]:
combined=pd.merge(left=left, right=right,  left_index= True, right_index=True)
combined

                choice_description item_price
0                              NaN     $2.39
1                       Clementine     $3.39
2                            Apple     $3.39
3                              NaN     $2.39
4     Tomatillo-RedChiliSalsa(Hot)    $16.98
...                            ...        ...
4620                       Lettuce     $8.75
4621              FreshTomatoSalsa     $8.75
4621              FajitaVegetables     $8.75
4621                    PintoBeans     $8.75
4621                       Lettuce     $8.75

[17000 rows x 2 columns]

In [359]:
data['choice_description'].apply(lambda x: pattern.sub('',x).split(',') if isinstance(x,str) else x ).explode().head(15) #this will not work

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

In [349]:
#Sol2
# data['choice_description'].apply(lambda x: x.replace('[','').replace(']','').replace(' ','').split(',') if isinstance(x,str) else x )

### Step 12. How many items were orderd in total?

In [350]:
data['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [137]:
data['item_price'][0].replace('$','')

'2.39 '

In [125]:
data['item_price']= data['item_price'].str.replace('$','').astype(float)
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.b. Create a lambda function and change the type of item price

In [140]:
data['item_price']= data['item_price'].apply(lambda x: float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [144]:
data['item_price'].values.dtype

dtype('float64')

In [146]:
data['item_price'].values

array([ 2.39,  3.39,  3.39, ..., 11.25,  8.75,  8.75])

In [149]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 14. How much was the revenue for the period in the dataset?

In [150]:
revenue= data['order_id']*data['quantity']*data['item_price']
revenue.sum()

37002239.15

### Step 15. How many orders were made in the period?

In [153]:
len(data['order_id'].unique())

1834

### Step 16. What is the average revenue amount per order?

In [164]:
# Solution 1
sum(data['item_price']*data['quantity'])/len(data['order_id'].unique())

21.3942311886587

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [167]:
len(data['item_name'].unique())

50