# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Create a data dictionary that looks like the DataFrame below

In [7]:
pokemon={'evolution': ['Ivysaur'	,'Charmeleon'	,'Wartortle','Metapod'	]
 ,'hp':[45,39,44,45]
 ,'name':['Bulbasaur','Charmander','Squirtle'	,'Caterpie']
 ,'pokedex':['yes','no','yes','no']
 ,'type':['grass','fire','water','bug']}
pokemon

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'hp': [45, 39, 44, 45],
 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [10]:
pokemon=pd.DataFrame(pokemon, columns=['name', 'type', 'hp', 'eveolution', 'pokedex'])
pokemon

         name   type  hp eveolution pokedex
0   Bulbasaur  grass  45        NaN     yes
1  Charmander   fire  39        NaN      no
2    Squirtle  water  44        NaN     yes
3    Caterpie    bug  45        NaN      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
pokemon['place']=['a','b','c','d']
pokemon

         name   type  hp eveolution pokedex place
0   Bulbasaur  grass  45        NaN     yes     a
1  Charmander   fire  39        NaN      no     b
2    Squirtle  water  44        NaN     yes     c
3    Caterpie    bug  45        NaN      no     d

### Step 6. Present the type of each column

In [14]:
pokemon.dtypes

name          object
type          object
hp             int64
eveolution    object
pokedex       object
place         object
dtype: object

### BONUS: Create your own question and answer it.